<a href="https://colab.research.google.com/github/vineeth-ksv/Naive-Bayes-Algorithm/blob/main/Naive_Bayes_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Naive Bayes Algorithm**

 - Based on Bayes Theorem (Conditional Probability)
 - Supervised Learning
 - Called "Naive" because of no co-dependency in attributes
 - Very popular social media marketing and product management

In [ ]:
!pip install numpy
!pip install pandas
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sklearn in /usr/local/lib/python3.8/dist-packages (0.0.post1)

### Importing all the libraries

In [ ]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

### Importing training and testing dataset

In [ ]:
salary_train = pd.read_csv("SalaryData_Train.csv")
salary_test = pd.read_csv("SalaryData_Test.csv")
string_columns = ["workclass", "education", "maritalstatus", "occupation", "relationship", "race", "sex", "native"]
salary_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
salary_train.isna().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [ ]:
salary_train = salary_train.dropna()

### Using a Label Encoder - Categorical to Numerical

In [ ]:
from sklearn import preprocessing

number = preprocessing.LabelEncoder()
for i in string_columns:
  salary_train[i] = number.fit_transform(salary_train[i])
  salary_test[i] = number.fit_transform(salary_test[i])

#salary_train.head()

### Assign the encoded variables for training and testing

In [ ]:
colnames = salary_train.columns
len(colnames[0:13])
trainX = salary_train[colnames[0:13]]
trainY = salary_train[colnames[13]]
testX = salary_test[colnames[0:13]]
testY = salary_test[colnames[13]]

### Gaussian Naive Bayes classifier for model fitting
 - Used for continuous data

In [ ]:
sgnb = GaussianNB()

### Predictions for test data

In [ ]:
sgnb.fit(trainX, trainY)
spred_gnb = sgnb.predict(testX)

### Confusion Matrix

In [ ]:
cm_gnb = confusion_matrix(testY, spred_gnb)
print(cm_gnb)
#print(cm_gnb[0][0], cm_gnb[0][1], cm_gnb[1][0], cm_gnb[1][1])
print("Accuracy :", (cm_gnb[0][0]+cm_gnb[1][1])/(cm_gnb[0][0]+cm_gnb[0][1]+cm_gnb[1][0]+cm_gnb[1][1]))

[[10759   601]
 [ 2491  1209]]
Accuracy : 0.7946879150066402